<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Login - Almoxarifado</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <main>
    <!-- Card do Logo -->
    <div class="card logo">
      <img src="{{ url_for('static', filename='fotos/logo.png') }}" alt="SENAI">
    </div>

    <!-- Card do Form -->
    <section class="card">
      <h1>Acesso ao Almoxarifado</h1>
      <form action="/login" method="POST">
        <label>Usuário <input type="text" name="username" required></label>
        <label>Senha <input type="password" name="password" required></label>
        <button type="submit">Entrar</button>
      </form>
    </section>
  </main>

  <div class="lado-imagem">
    <img src="{{ url_for('static', filename='fotos/senai.png') }}" alt="Indústria">
  </div>

  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  
</body>
</html>